@model IEnumerable<VolunteerTracker.ViewModels.VolunteerViewModel>

@{
    ViewBag.Title = "Manage Volunteers";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "AddVolunteer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditVolunteer", new { id=item.Id }) |
            @Html.ActionLink("Details", "ViewVolunteer", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteVolunteer", new { id=item.Id })
        </td>
    </tr>
}

</table>
